// src/css/quasar.variables.scss

$primary   : #9119d1;
$secondary : #2664a6;
$accent    : #b02760;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
